.div1{                            /*per mettere immagine e nome e codice centrati*/
    text-align: center;
}

#titl{ /*titolo del prodotto*/
   background-color: rgba(0, 0, 0, 0.863);
   color: white;
   padding: 4px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top: 20px;
}

/*illustrative*/
#cat{
    background-color: rgb(000, 128, 0);
    padding: 6px;
}

#br{
    background-color: rgb(173, 14, 14);
    padding: 6px;
}

#nost{
    background-color: rgb(255, 0, 170);
    padding: 6px;
}


.carta1 {         /*card dove sta scritto login*/
    color: white;
    background-color: black;
    font-weight: bold;
}

.BORDONERO{   
    border-color: black;
    border-width: 3px;
}

.BORDOGRIGIO{   
    border-color: black;
    border-width: 3px;
}

#sal{
   background-color: rgb(226, 12, 12);
   padding: 6px;
}
/*fine illustrativr*/

#prezzovero{
    font-weight: bold;
}

#prezzofinto{
    color:rgb(37, 37, 37); 
}

#bordoquantita{                  /*type number*/
    border-color:rgb(37, 37, 37);
    border-width: 2px;
    margin-right: 5px;
}

.taglie{         /*per distanziare i bottoni delle taglie*/
    margin-right: 5px;
    
}

#b1{          /*taglia1*/
  background-color: black;
  font-weight: 700;
} 

#b2{          /*taglia2*/
    background-color: black;
    font-weight: 700;
} 

#b3{          /*taglia2*/
    background-color: black;
    font-weight: 700;
} 

#selezionataglie{
    font-size: 110%;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 700; 
    margin-right: 7%;
}

/*bottone aggiungi al carello*/
#carrell{
    background-color: #bb0a0a;
}

#carrell:hover{
    background-color: #bb0a0a;
}/*fine bottone*/








#cardColumn{	
	margin-top: 20px;	
}

#cardProdotti{
	height: 30%;
	border: gray 1px solid;
}

#cardProdotti:hover {
	border: black 1.5px solid;
}

#picc{
	text-align: center;
}

#prodottoPic{
	width: 70%;
	text-align: center;
	margin-top:15px;
}

#cards {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    height: 248px;
}


#visualizza{
	margin-top:40px;
}

#cancellato{
	color:gray;
}

#SALE{
	background-color: rgb(219, 16, 16);
	border-radius:50%;
	height:50px;
	width: 50px;
	margin-right:20px;
	margin-top:10px;
    float:right;
    text-align: center;
}

#saletesto{
	margin-top:5px;
}


.pren{              /*bottone login*/
    background-color: black;;
    border-color: white;
}

.pren:hover{
    background-color: rgb(173, 14, 14);
    border-color: rgb(143, 8, 8);
}


.bg-black {
    background-color: #222;
}

.gallery a:hover img {
    transform: scale(1.1) rotate(-4deg);
    z-index: 1;
}

.gallery img {
    transition: all;
    transition-duration: .2s;
    border-radius: 2px;
}

#errore{
	color: rgb(173, 14, 14);
}