#prenotazione {
	position:fixed;
	border-color:grey;
	border-style:solid;
	height:70%;
	width:40%;
	top:25%;
	left:31%;
	
	display:none;
	border-radius:3%;
	border-width:2px;
	background-image: url("http://localhost:8080/wheredoieat/foto/posate.png");
	background-size:50%;
	background-repeat:no-repeat;
	background-position-x:right;
	background-position-y:bottom;
	background-color:gainsboro;
}

#chiudiDiv {
	position:relative;
	height:5%;
	width:5%;
	top:1%;
	left:94%;
}

#data {
	position:fixed;
	top:35%;
	width:15%;
	height:20%;
	left:33%;
	
}

.oraRadio{
	float:left;
	margin-right:3%;
}

#ora{
	position:fixed;
	top:35%;
	left:50%;
	width:20%;
	
}

legend {
	color:white;
	background-color:darkred;
	width:30%;
	border-radius:50%;
	text-align:center;
	font-style:oblique;
}

#posti{
	position:fixed;
	top:57%;
	left:33%;
}

#numberPosti {
	width:30%;
}

#buttonPrenota{
	position:fixed;
	width:10%;
	height:5%;
	top:80%;
	left:46%;
	background-color:darkred;
	border-color:black;
	color:white;
	font-style:oblique;
	font-size:120%;
}

#titoloPren {
	position:fixed;
	left:39%;
	top:26%;
	font-family:impact;
	color:darkred;
	font-style:oblique;
}

#errorOra{
	clear:left; 
}

#buttonPrenotazione {
	position:absolute;
	right:4%;
	bottom:63%;
}