@charset "ISO-8859-1";
#separazione{
	clear:left;
}

#piattiLocale {
	margin-top:50px;
}

#fotoLocaleDiv {
	margin-top: 25px;
	margin-left:30px;
	text-align:center;
}

#fotoLocale {
	float:left;
	margin-right:10px;
}

#frameMaps{
	margin-top:30px;
}

#attivita{
	text-align: center;
	margin-top:50px;
}

#fotoCons{
	margin-top:20px;
	border-radius:150px;
}